.footer {
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #102C67;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: grey;
}


.copyright {
  background-color: #061C4B;
  color: white;
}
