<div class="footer" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
  <div fxLayout="row">
    <img src="../../assets/img/LogoZen.png" alt="">
    <h1>HGLearning</h1>
  </div>
  <div fxLayout="column" fxLayout.xs="column" style="text-align: center;">
    <p>Huber Gérard, formateur indépendant en solutions digitales</p>
  </div>

  <div fxLayout="row">
    <a routerLink="" style="margin-right: 10px;">Mentions légales</a>
    <a href="">Confidentialité</a>
  </div>
</div>
<div class="copyright" fxLayout="row" fxLayoutAlign="center center">
  <p>©HGLearning 2019</p>
</div>
