mat-form-field {
  width: 100%;
  margin-top: 20px;
}

.invalid-password {
  margin-top: 20px;
  margin-bottom: 15px;
}

.registerButton {
  width: 40%;
  height: 50px;
  font-size: 2vh;
  margin: 15px;
  background-color: #1f3d7d;
  color: white;
}

.invalid-text {
  color: red;
  margin-top: -5px;
}

.form-field-width {
  width: 100%;
}

::ng-deep .mat-checkbox-layout {
  white-space: normal !important;
  max-width: 800px;
  margin-top: 15px;
}
