<div class="bodyAbout">
  <h1 class="titleAbout" ngClass.xs="titleAboutXs" fxLayoutAlign="center center">Pourquoi HGLearning ?</h1>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" >
    <div fxLayout="column" class="containerImageAbout" ngClass.xs="containerImageAboutXs">
      <img class="aboutImg" src="../../../assets/img/AboutImg.jpg"  alt="Image A propos">
    </div>
    <div fxLayout="column" class="contentAbout" ngClass.xs="contentAboutXs">
      <div fxLayout="row">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pretium convallis massa non sagittis.
        Pellentesque dictum lorem nec libero viverra, ac gravida sapien semper. Integer in maximus tellus. Fusce
        facilisis ligula eu lacus vehicula, sagittis imperdiet orci malesuada. Duis metus velit, ultricies quis laoreet
        sed, rutrum quis ex. Sed vestibulum sollicitudin nisl a pretium. Proin viverra nisi at felis posuere laoreet.
        Aenean in dictum massa. Morbi imperdiet lorem at nulla iaculis bibendum. Donec interdum augue id turpis
        pellentesque, in aliquet massa semper.</div>

    </div>
  </div>
</div>